.chats {
    max-width: 700px;
    max-height: 65vh;
    overflow-y: auto;
    padding: 8rem;
    scrollbar-width: thin;
    scrollbar-color: #339cff #23272f;
}

.chats::-webkit-scrollbar {
    width: 8px;
    background: #23272f;
    border-radius: 8px;
}

.chats::-webkit-scrollbar-thumb {
    background: #339cff;
    border-radius: 8px;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.gptMessage {}